wetlab@git+https://github.com/laminlabs/wetlab
findrefs@git+https://github.com/laminlabs/findrefs
nbproject
s3fs
gcsfs
pre-commit
nox
pytest>=6.0
pytest-cov
nbproject_test
vitessce
starlette  # for vitessce
duckdb
